<div class="container-fluid bg-white">
    <div class="row justify-content-center align-items-center border-top">
        <div class="col-10 pt-5">
            <h4><b>
                    <spam class="text-dark">Contact</spam>
                </b></h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis ad culpa tempore delectus
                porro
                provident reprehenderit hic quasi, corporis nemo maiores id ex magnam deleniti sunt, vel quidem
                itaque praesentium.!</p>
        </div>
    </div>
    <!-- </div> -->

    <!-- <div class="Container">  -->

    <form class="container border border-3 bg-white py-2">
        <div class="form-group">
            <div class="row mb-3  pe-2 ps-5">
                <label for="inputEmail3" class="col-2 col-form-label">Your E-mail</label>
                <div class="col-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Your email here">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row mb-3  pe-2 ps-5">
                <label for="inputPassword3" class="col-2 col-form-label">Your message</label>
                <div class="col-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1"
                        placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-end pe-2">
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </form>
</div>