<div class="Container my-9">
    <div class="row justify-content-center align-items-center border-top border-bottom bg-white">
        <div class="col-7 py-5">
            <h4><b>
                    <spam class="text-dark">This First Heading </spam>
                    <spam class="text-secondary">Will Catch Your Eye
                </b></spam>
            </h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis ad culpa tempore delectus porro
                provident reprehenderit hic quasi, corporis nemo maiores id ex magnam deleniti sunt, vel quidem itaque
                praesentium. Officia facilis modi animi esse unde, non tempore inventore, doloremque provident et quia
                ut dolores cumque expedita eligendi quasi consequuntur!</p>
        </div>
        <div class="col-3 py-5 h-70">
            <img src="/website/assets/img/1.jpg" class="img-fluid float-right rounded-circle">
        </div>
    </div>
</div>