<div class="container-fluid d-flex bg-white">
    <div class="row p-5">
        <div class="col-12">
            <h3>Porfolio</h3>
        </div>
        <div class="col-12">
            <p>
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id lugula porfa felis euismod semper. Praesent commodo cursus magna, vel scelerisque nislconsectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="row col-12 justify-content-between">
            <!-- <div class="col-12 d-flex justify-content-around"> -->
                <div class="col-4">
                    <div class="card P-1">
                        <img src="./assets/img/big-project-image.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus suscipit nostrum enim quidem dolores, autem corrupti inventore?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card P-1">
                        <img src="./assets/img/big-project-image.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus suscipit nostrum enim quidem dolores, autem corrupti inventore?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card P-1">
                        <img src="./assets/img/big-project-image.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae natus suscipit nostrum enim quidem dolores, autem corrupti inventore?</p>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>