<!--Services-->

<div class="container d-flex bg-white h-100">
    <img src="/website/assets/img/2.jpg" class="rounded-circle">
    <div>
        <h4 class="d-inline-block">The Second Heading</h4>
        <h4 class="d-inline-block text-secondary">Is Pretty Cool Too.</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel repellendus pariatur facere culpa,
            inventore accusantium saepe qui neque quia similique impedit odio ducimus maxime consectetur incidunt
            iste dolorum corrupti obcaecati.</p>
    </div>
</div>